* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --firstblue: #00111c;
  --secondblue: #001523;
  --thirdblue: #001a2c;
  --fourthblue: #002137;
  --fifthblue: #00253e;
  --sixthblue: #002945;
  --seventhblue: #002e4e;
  --eighthblue: #003356;
  --ninethblue: #003a61;
  --tenthblue: #00406c;
  --firstwhite: #edede9;
  --secondwhite: #d6ccc2;
  --thirdwhite: #d6ccc2;
  --fourthwhite: #d6ccc2;
  --fifthwhite: #d6ccc2;
}

body {
  font-family: Poppins;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fifthblue);
  padding: 25px 50px;
  position: fixed;
  width: 100%;
}

.navbar .logo {
  color: var(--firstwhite);
  font-size: 1.5em;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  padding: 10px;
}

.navbar ul li a {
  color: var(--firstwhite);
  text-decoration: none;
  cursor: pointer;
  font-size: 12pt;
}

.navbar ul li a:hover {
  color: var(--secondwhite);
}

header > .navbar > i {
  color: var(--firstwhite);
}

/* Hero Section Styling  */
.hero {
  padding: 50px;
  background-color: var(--firstwhite);
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.8s ease-in-out;
}

.hero > .box1 > h1 {
  line-height: 1.8;
  font-size: 32pt;
  color: var(--thirdblue);
}

.hero > .box1 > p {
  font-size: 12pt;
}

.hero > .box1 > .btn {
  margin: 15px 0;
}
.hero > .box1 > .btn > button {
  padding: 15px;
  cursor: pointer;
  color: var(--firstwhite);
  font-weight: bold;
  background-color: var(--fifthblue);
  border: none;
  border-radius: 5px;
}

.hero > .box1 > .btn > button:hover {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  color: var(--fifthblue);
  background-color: var(--secondwhite);
  border: none;
  border-radius: 5px;
}

.iconBox {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin: 15px 0;
}

.box > i {
  font-size: 18pt;
}

.brandContainer {
  padding: 20px;
}

.brandContainer > .imagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: all 0.8s ease-in-out;
}

.brandContainer > .brand-title {
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
  color: var(--thirdblue);
  line-height: 1.8;
  text-transform: capitalize;
  /* padding: 10px; */
}
.brandContainer > .imagesContainer > img {
  width: 5%;
}

/* About Me Styling */
#about {
  padding: 30px;
}
