.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.flex-item {
  margin: 0 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.menu-links {
  display: flex;
  gap: 15px;
  margin: auto;
}

.right-menu {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/assets/bgi2.jpg") no-repeat center center/cover;
  text-align: center;
  color: #f1f1f1;
  padding: 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.hero .ui.button {
  font-size: 1.2em;
}

.jobTitles {
  padding: 15px;
}

.ui.grid.equal.width > .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.grid.equal.width > .column > .ui.icon.header {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .menu-links {
    display: none;
  }
  .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 1.2em;
  }
  .hero .ui.button {
    font-size: 1em;
  }
  .ui.three.column.grid .column {
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
